appdirs==1.4.0
boto==2.45.0
configparser==3.5.0
cornice==1.2.1
hawkauthlib==0.1.1
hupper==0.4.2
konfig==1.1
mozsvc==0.10
packaging==16.8
PasteDeploy==1.5.2
PyBrowserID==0.11.0
pyparsing==2.1.10
pyramid==1.8.2
repoze.lru==0.6
requests==2.13.0
simplejson==3.10.0
six==1.10.0
SQLAlchemy==1.1.5
testfixtures==4.13.4
tokenlib==0.3.1
translationstring==1.3
umemcache==1.6.3
venusian==1.0
WebOb==1.7.1
zope.deprecation==4.2.0
zope.interface==4.3.3
